<div class="container p-3">
  <div class="card">
    <div class="card-body">
      <h3><i class="icon-binoculars mr-2"></i>About MEDICAL PRICER</h3>
      <p class="card-text">
        Medical Pricer is a tool to help consumers fight the rising costs of healthcare in America.
        The goal of Medical Pricer is to offer and empower healthcare consumers to be true consumers
        and have an understanding of how healthcare pricing is determined in America.
      </p>
    </div>
    <div class="card-footer float-right">
      <a routerLink="/contact" class="btn btn-primary float-right">Contact</a>
    </div>
  </div>
</div>
